.devices_list {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;
  width: 100%;
  align-self: flex-start;
}

.device_view {
  display: flex;
  flex-direction: column;
  gap: 55px;
  width: 100%;
  text-align: center;
  padding: 10px;
}

.bt_divider_parent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.bt_device_text {
  width: 50%;
}

.bt_device_divider {
  border: 1px solid var(--orange);
  width: 100%;
}

.search-button {
  padding: 30px;
  padding-left: 80px;
  padding-right: 80px;
  align-self: center;
  font-weight: bold;
}

.search-button.stop-button {
  color: var(--red);
}

.search-tip {
  margin-top: 10px;
  font-size: 16px;
  font-style: oblique;
  color: var(--orange);
  background-color: var(--light-black);
  padding: 10px;
  padding-left: 45px;
  padding-right: 45px;
  align-self: center;
  border-radius: 15px;
}

.floater {
  position: absolute;
  bottom: calc(20px + var(--dockBarHeight));
}

/********/
/*DEVICE*/
/********/

.device-container {
  background-color: var(--light-black);
  padding: 5px;
  border: 1px solid var(--black);
  border-radius: 20px;
}

.device-container:hover {
  border-color: var(--orange);
}

.device {
  justify-content: space-between;
}

.device img {
  height: 100px;
  width: 100px;
  object-fit: contain;
  padding: 5px;
  padding-right: 10px;
}

.remove-button {
  width: 60px;
  margin-right: 10px;
}

.remove-button:hover {
  border-color: var(--red);
  color: var(--red);
}

.menu {
  display: none;
  height: 0;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.menu.show {
  display: flex;
  height: 100px;
}

.cont {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.left {
  padding: 5px;
}
